/* --------------- GENERAL --------------- */
html {
    scroll-padding-top: 100px;
}
.w-75 {
    width: 90%!important;
}
.text-resp-ti {
    font-size: calc(100% + .1vw + .1vh);
  }
.text-resp-pa {
    font-size: calc(100% + .2vw + .2vh);
}

/* --------------- CAROUSEL --------------- */

.carousel-item img{
    height: 700px;
    object-fit: cover;
    filter:brightness(.50);
}
.carousel-item {
    transition: transform 1.5s;
}

/* --------------- NAVBAR --------------- */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 3;
}
.navbar-collapse {
    transition: height .2s , padding .2s;
}
.nav-link:focus, .nav-link:hover {
    color: var(--bs-navbar-active-color);
}

.navbar .container-fluid {
    position: relative;
}

.navbar span {
    font-size: 1.3rem;
}

@media (max-width: 1100px) {
    .navbar img {
        object-fit: cover;
        width: 65px;
    }
}

@media (max-width: 576px) {
    .navbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 80px;
    }
    .show {
        padding: 25px 0 0;
    }
    .navbar-collapse {
        position: absolute;
        width: 300px;
        bottom: 70px;
        border-top-left-radius: 15px;
        right: 0;
        z-index: 2;
        background-color: #212529;
    }
}

/* --------------- ORADORES --------------- */
.card {
    overflow: hidden;
    transition: box-shadow .2s;
    border: none;
    box-shadow: 0 0 2px 0 #b7babd;
}
.card:hover {
    box-shadow: 0 0 2px 0 #b7babd , 2px 2px 20px -15px;
}
.card .card-body {
    z-index: 2;
    background-color: white;
}
.card img {
    transition: transform .2s;
}
.card:hover img {
    transform: scale(1.04);
}

@media (max-width: 576px) {
    .mi-mod {
        flex-direction: column;
    }
}

/* --------------- LUGAR Y FECHA --------------- */

/* --------------- FORM SER ORADOR ---------------  */

.form-floating .form-control{
    height: 40px;
    transition: border-radius .2s;
    border-color: #ced4da;
}
.form-floating .form-control:focus{
    border-top: none;
    border-left: none;
    border-radius: 0;
    border-bottom-right-radius: 7px;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
}
.form-floating>.form-control:not(:placeholder-shown) {
    border-top: none;
    border-left: none;
    border-radius: 0;
    border-bottom-right-radius: 7px;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
}

.form-floating label{
    left: auto;
    top: 0;
    transition: top .2s , font-size .2s;
    display: flex;
    align-items: center;
    width: auto;
    color: #6c757d;
}
.form-floating .form-control:focus + label {
    font-size: .8rem;
    top: -10px;
    height: 10px;
}
.form-floating>.form-control:not(:placeholder-shown)~label {
    font-size: .8rem;
    top: -10px;
    height: 10px;
}
.cont-txt-area .text-area{
    height: 200px;
    font-size: 1rem;
}

.cont-txt-area label {
    height: 15px;
    top: 5px;
    font-size: 1.3rem;
}
/* validacion */
.was-validated .form-control{
    border-top: none;
    border-left: none;
    border-radius: 0;
}
.was-validated .form-control:invalid:focus , .was-validated .form-control:valid:focus {
    box-shadow: none;
}


/* --------------- FOOTER --------------- */

.footer {
    background-color: rgb(31, 77, 103);
}